<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ConsumableDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.ConsumableDefinition">
        <id column="id" property="id" />
        <result column="con_def_name" property="conDefName" />
        <result column="con_def_code" property="conDefCode" />
        <result column="con_def_img_url" property="conDefImgUrl" />
        <result column="con_def_remark" property="conDefRemark" />
        <result column="creator_id" property="creatorId" />
        <result column="update_date" property="updateDate" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, con_def_name, con_def_code, con_def_img_url, con_def_remark, creator_id, update_date, create_date
    </sql>

</mapper>
