<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ConsumableDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.ConsumableDetail">
        <id column="id" property="id" />
        <result column="con_def_id" property="conDefId" />
        <result column="pur_id" property="purId" />
        <result column="order_id" property="orderId" />
        <result column="store_id" property="storeId" />
        <result column="con_remark" property="conRemark" />
        <result column="creator_id" property="creatorId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, con_def_id, pur_id, order_id, store_id, con_remark, creator_id, create_date, update_date
    </sql>

</mapper>
