<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ProductDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.ProductDefinition">
        <id column="id" property="id" />
        <result column="def_name" property="defName" />
        <result column="def_no" property="defNo" />
        <result column="prod_spec" property="prodSpec" />
        <result column="def_img_url" property="defImgUrl" />
        <result column="def_remark" property="defRemark" />
        <result column="creator_id" property="creatorId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, def_name, def_no, prod_spec, def_img_url, def_remark, creator_id, create_date, update_date
    </sql>

</mapper>
