<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ExpressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.Express">
        <id column="id" property="id" />
        <result column="exp_recipient" property="expRecipient" />
        <result column="exp_mobile" property="expMobile" />
        <result column="exp_address" property="expAddress" />
        <result column="exp_company" property="expCompany" />
        <result column="exp_order_code" property="expOrderCode" />
        <result column="exp_remark" property="expRemark" />
        <result column="exp_createtime" property="expCreatetime" />
        <result column="exp_updatetime" property="expUpdatetime" />
        <result column="exp_creator_id" property="expCreatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, exp_recipient, exp_mobile, exp_address, exp_company, exp_order_code, exp_remark, exp_createtime, exp_updatetime, exp_creator_id
    </sql>

</mapper>
