<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.Product">
        <id column="id" property="id" />
        <result column="prod_name" property="prodName" />
        <result column="prod_no" property="prodNo" />
        <result column="prod_spec" property="prodSpec" />
        <result column="prod_remark" property="prodRemark" />
        <result column="prod_creator_id" property="prodCreatorId" />
        <result column="prod_createtime" property="prodCreatetime" />
        <result column="prod_updatetime" property="prodUpdatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prod_name, prod_no, prod_spec, prod_remark, prod_creator_id, prod_createtime, prod_updatetime
    </sql>

</mapper>
