<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.ProposerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.Proposer">
        <id column="id" property="id" />
        <result column="prop_name" property="propName" />
        <result column="prop_contact_man" property="propContactMan" />
        <result column="prop_contact_number" property="propContactNumber" />
        <result column="prop_property" property="propProperty" />
        <result column="prop_remark" property="propRemark" />
        <result column="creator_id" property="creatorId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, prop_name, prop_contact_man, prop_contact_number, prop_property, prop_remark, creator_id, create_date, update_date
    </sql>

</mapper>
