<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.PurchaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.Purchase">
        <id column="id" property="id" />
        <result column="pur_code" property="purCode" />
        <result column="pur_total_money" property="purTotalMoney" />
        <result column="supplier_id" property="supplierId" />
        <result column="pur_date" property="purDate" />
        <result column="pur_remark" property="purRemark" />
        <result column="creator_id" property="creatorId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <resultMap id="DetailResultMap" type="com.tiansen.ordermanager.mybatis.entity.join.PurchaseDetail" extends="BaseResultMap">
        <association property="supplier_id" javaType="com.tiansen.ordermanager.mybatis.entity.Supplier">
            <id column="sup_id" property="id" />
            <result column="sup_name" property="supName" />
            <result column="sup_addr" property="supAddr" />
            <result column="sup_contact_person" property="supContactPerson" />
            <result column="sup_contact_number" property="supContactNumber" />
            <result column="sup_contact_email" property="supContactEmail" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pur_code, pur_total_money, supplier_id, pur_date, pur_remark, creator_id, create_date, update_date
    </sql>

    <select id="findDetailById" resultMap="DetailResultMap">
      SELECT pur.*,
        sup.id AS sup_id, sup.sup_name, sup.sup_addr, sup.sup_contact_email, sup.sup_contact_number, sup.sup_contact_person
      FROM purchase pur
      LEFT JOIN supplier sup
      ON pur.supplier_id=sup.id
      WHERE id=#{id}
    </select>

</mapper>
