<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiansen.ordermanager.mybatis.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiansen.ordermanager.mybatis.entity.SysMenu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_description" property="menuDescription" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_superid" property="menuSuperid" />
        <result column="menu_seq" property="menuSeq" />
        <result column="menu_status" property="menuStatus" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_url, menu_description, menu_icon, menu_superid, menu_seq, menu_status, create_date, update_date
    </sql>

</mapper>
